[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "~=3.4.4"
flask = '~=1.0.2'
gunicorn = '~=19.9.0'
redis = '~=2.10.6'

[dev-packages]

[requires]
python_version = "3.7.4"
